@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.navbar-menu {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 9999;
  }

  body {
    background-image: url("https://images.unsplash.com/photo-1753837738655-538ad235ce41?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
